AllPairs==2.0.1
asgiref==3.9.1
cases==0.1.13
charset-normalizer==3.4.3
Django==5.2.6
gunicorn==21.2.0
numpy==2.3.3
packaging==25.0
pillow==11.3.0
Platypus==1.0
ply==3.11
psycopg2-binary==2.9.10
pyparsing==3.2.4
reportlab==4.4.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.11.0